body {
  background-color: white;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

/*=======Nav=======*/
.navbar {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(109, 112, 85, 0.825);
  padding: 10px;
}

.navButton {
  margin-left: 5px;
  color: white;
}

.navButton:hover {
  transform: scale(2.2);
  font-weight: bold;
}

/*=======form=======*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c5c5c440;
  width: 400px;
  margin: 20px;
  padding: 5px;
  border-radius: 7px;
}

.input-wrapper {
  background-color: #fff;
  margin: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  padding-left: 5px;
  height: flex;
  display: flex;
  justify-content: space-between;
  width: 350px;
}

input,
select,
textarea {
  background-color: rgb(203, 202, 202);
  margin-left: 5px;
  border: 0px solid black;
  height: 20px;
  width: 63%;
  border-radius: 0px 2px 2px 0px;
}

textarea {
  height: 40px;
}

label {
  display: flex;
  width: 37%;
  align-items: center;
  justify-content: center;
}

button {
  width: 80px;
  height: 30px;
  border-radius: 7px;
  cursor: pointer;
}

/*======= Home Page =======*/
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  max-width: 500px;
}

.searchForm {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchButton {
  padding: 4px;
  border: none;
  border-radius: none;
  margin: 2px;
}
.search {
  padding: 4px;
  border: none;
  border-radius: none;
  margin: 2px;
}

/*======= cards =======*/
.Card {
  width: 300px;
  height: 200px;
  margin: 10px;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 3px rgba(8, 8, 8, 0.057);
  position: relative;
  overflow: hidden;
}

.Card:hover {
  transform: scale(0.9);
  font-weight: bold;
}

.Card img {
  width: 300px;
  height: 200px;
  border-radius: 2px;
}

.card-title {
  background-color: rgba(231, 216, 216, 0.635);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  margin: 0;
  padding-top: 0;
}

.mainCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*=======details Page=======*/
.place-details {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.img-container {
  margin-top: 20px;
  width: 100%;
  border: 3px solid black;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
}

.title {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Favbutton {
  position: absolute;
  margin-top: 30px;
  margin-left: 10px;
}

.Favbutton i {
  cursor: pointer;
}

.Favbutton i:hover {
  cursor: pointer;
  color: maroon;
}
/*=======My Place=======*/
.myPlaces {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-add {
  border: 3px solid black;
  padding: 5px;
}
/*=======cards list=======*/
.List-Card {
  width: 100%;
  background-color: rgb(203, 202, 202);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 10px;
}
.List-Card2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.list-card-title {
  margin: 10px;
}

.List-Card:hover .card-Cover {
  width: 500px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.31);
  position: absolute;
}
.list-card-left {
  display: flex;
  width: 80%;
  align-items: center;
}
.List-Card img {
  border-right: 2px solid black;
  border-radius: 5px;
}

/*=======main photo=======*/
.main-photo {
  display: flex;
  width: 600px;
  height: 220px;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(10px);
  animation: fadeIn 2s ease-in-out, backgroundChange 10s infinite;
}

@keyframes backgroundChange {
  0%,
  100% {
    background-color: rgb(174, 174, 174);
  }
  50% {
    background-color: rgb(75, 75, 75);
  }
}

.main-photo img {
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  height: 180px;
  width: 200px;
}

/*
.placeCard {
  width: 300px;
  height: 200px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 7px;
  margin: 10px;
  background-position: center;
  background-size: 350px;
}

.placeCard {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  margin: 10px;
}
*/

.card-list-btn {
  z-index: 2;
}
