body {
  background-color: rgb(213, 213, 213);
  background-image: url('https://img.freepik.com/free-photo/grungy-gray-marble-textured-background_53876-108405.jpg');
  background-size: 200vh;
  background-repeat: no-repeat;
}

input {
  background-color: rgb(203, 202, 202);
  margin-left: 5px;
  border: 0px solid black ;
  border-left: 1px solid black ;  
  height: 20px;
  width: 75%;
  border-radius: 0px 5px 5px 0px;
}
.confirm-password{
  width: 63%;
}

.input-wrapper{
  background-color: #fff;
  margin: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  padding-left: 5px;
  height: flex;
  display: flex;
  justify-content: space-between;
  width: 350px;
}

button {
  width: 80px;
  height: 30px;
  border-radius: 7px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 100%;
  color: green;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.navbar a:hover {
  background-color: rgb(111, 111, 111);
  border-radius: 7px;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form {
  display: flex;
  flex-direction: column;

  width: 350px;
}

.categories2 {
  display: flex;
  border-bottom: 1px solid black;
}

.categCard img {
  width: 300px;
  height: 200px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 7px;
  margin: 10px;
  background-position: center;
  background-size: 350px;
}

.categCard:hover .categCard2 {
  width: 300px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.31);
  position: absolute;
}

.placeCard {
  width: 300px;
  height: 200px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 7px;
  margin: 10px;
  background-position: center;
  background-size: 350px;
}

.pool {
  background: red;
}

.placeCard {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  margin: 10px;
}

a {
  color: black;
  text-decoration: none;
}
