@import url("https://fonts.googleapis.com/css2?family=Caudex:ital@0;1&display=swap");
body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: normal;
  max-width: 100%;
  max-height: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

/*=======Nav=======*/
.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(109, 112, 85, 0.825);
}

.logo {
  height: 100%;
  width: 17%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.nav-links-container {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  height: 86%;
  align-items: center;
  padding-right: 27px;
}

.guest-user-links {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 27px;
}

.navButton {
  margin: 10px;
  color: white;
}

.navButton:hover {
  transform: scale(1);
  font-weight: bold;
}
/* ############################## */
button {
  width: 100px;
  height: 25px;
  border-radius: 3px;
  cursor: pointer;
  border: 1 solid white;
}

.reviewForm {
  margin: 20px;
  background-color: #c5c5c440;
  border-radius: 2px;
}

.reviewInput {
  margin-bottom: 20px;
}

.rForm {
  margin: 0 auto;
  padding: 15px;
}

.rForm table {
  width: 100%;
}

.review,
.reviewRating {
  width: 100%;
  padding: 3px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.revButton {
  background-color: #c5c5c440;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.showReview {
  margin: 5px;
  border-radius: 5px;
  text-align: center;
}

.reviewTable {
  width: 100%;
  font-size: 12px;
  border: 1px solid rgba(141, 138, 138, 0.297);
  border-radius: 4px;
}

.deleteReview {
  color: gray;
  cursor: pointer;
  text-decoration: underline;
}

p {
  margin: 0;
}

.scrollable-container {
  min-height: 200px;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
}
/*======= Home Page =======*/
.home {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about {
  max-width: 500px;
  text-align: justify;
}

.searchForm {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchButton {
  padding: 4px;
  border: none;
  border-radius: none;
  margin: 2px;
}
.search {
  padding: 4px;
  border: none;
  border-radius: none;
  margin: 2px;
  width: 700px;
}

.cateButton {
  margin-top: 20px;
  align-items: center;
  text-align: center;
  background-color: #c5c5c440;
  border-radius: 2px;
}
/*======= cards =======*/
.Card {
  width: 300px;
  height: 200px;
  margin: 10px;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 3px rgba(8, 8, 8, 0.057);
  position: relative;
  overflow: hidden;
}

.Card:hover {
  transform: scale(0.98);
  font-weight: bold;
}

.Card img {
  width: 300px;
  height: 200px;
  border-radius: 2px;
}

.card-title {
  background-color: rgba(231, 216, 216, 0.635);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  margin: 0;
  padding-top: 0;
}

.mainCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
  align-items: center;
  margin-top: 40px;
}

/*=======details Page=======*/
.placeDetail {
  display: flex;
  flex-direction: row;
  margin: 10px;
  max-height: 400px;
}

.placePoster img {
  margin: 4px;
  max-width: 400px;
  display: flex;
  border-radius: 3px;
}

.PlaceInfo {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Favbutton {
  position: absolute;
  margin-top: 30px;
  margin-left: 10px;
}

.Favbutton i:hover {
  cursor: pointer;
  color: maroon;
}
.placeDescription {
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 70px;
  text-align: justify;
  width: 400px;
  align-items: center;
}
.booking-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.booking {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.book {
  padding: 10px;
}
.bookButton {
  width: 70px;
  min-height: 40px;
  margin-left: 5px;
  border: none;
}

.bookingCard {
  width: 1050px;
  background-color: #c5c5c440;
  border-radius: 2px;
  text-align: center;
  box-shadow: 1px 3px rgba(8, 8, 8, 0.057);
  margin-top: 20px;
  display: flex;
}
.bookingCard:hover {
  transform: scale(0.98);
  font-weight: bold;
}
.bookingTitle {
  display: flex;
  flex: content;
  justify-content: space-around;
  flex-direction: row;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}
.bookingTime {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-top: 15px;
}
.bookingImg {
  border-radius: 3px;
  margin-left: 30px;
  margin-top: 10px;
  border: 1px solid rgba(202, 190, 190, 0.161);
}
.bookName {
  background-color: rgba(141, 138, 138, 0.122);
  border-radius: 7px;
  height: 30px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 7px;
}
.start {
  background-color: rgba(74, 218, 119, 0.122);
  border-radius: 7px;
  height: 30px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 7px;
}

.end {
  background-color: rgba(222, 29, 29, 0.122);
  border-radius: 7px;
  height: 30px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 7px;
  margin-top: 10px;
}

/*=======My Place=======*/
.myPlaces {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-add {
  border: 3px solid black;
  padding: 5px;
}

/*=======main photo=======*/
.main-photo {
  display: flex;
  width: 600px;
  height: 220px;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  animation: fadeIn 2s ease-in-out, backgroundChange 10s infinite;
}

.main-photo img {
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  height: 180px;
  width: 200px;
}

/*
.placeCard {
  width: 300px;
  height: 200px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 7px;
  margin: 10px;
  background-position: center;
  background-size: 350px;
}

.placeCard {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  margin: 10px;
}
*/

.card-list-btn {
  z-index: 2;
}

/*=======favList=======*/
.favList {
  display: flex;
  align-items: center;
  margin: 5px;
  text-align: center;
  max-width: 300px;
  max-height: 250px;
}

.favInfo {
  display: flex;
  justify-content: space-around;
}
.favPlaceName {
  font-size: 12px;
  text-align: center;
  margin-left: 15px;
  margin-top: 5px;
}
.FavDebutton {
  border: none;
  font-size: 12px;
}

.FavDebutton:hover {
  border: red 1px solid;
  margin-right: 2px;
}
.FavCard {
  border: 2px solid rgb(116, 122, 118);
  border-radius: 2px;
  margin-top: 30px;
  margin-left: 10px;
  min-height: 250px;
  max-width: 300px;
  max-height: 250px;
  background-color: #c5c5c440;
}

.FavCard:hover {
  transform: scale(0.98);
  font-weight: bold;
}

/*=======signIn=======*/
.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c5c5c440;
  width: 400px;
  margin: 20px;
  padding: 20px;
  border-radius: 7px;
  margin-top: 100px;
}

.input-wrapper {
  background-color: #fff;
  margin: 5px;
  border-radius: 5px;
  padding-left: 5px;
  height: flex;
  display: flex;
  justify-content: space-between;
  width: 350px;
  text-align: center;
}

.inputFeild,
textarea {
  background-color: rgb(203, 202, 202);
  margin-left: 5px;
  height: 20px;
  width: 63%;
  border-radius: 0px 2px 2px 0px;
  border: none;
  align-items: center;
}

.authButton {
  border: none;
  background-color: rgb(183, 183, 183);
  margin-left: 7px;
  width: 150px;
}

.felxSignin {
  display: flex;
  justify-content: space-around;
}

.font {
  margin-top: 10px;
  font-size: 12px;
}

.color {
  color: gray;
  text-decoration: underline;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
}

.label {
  display: flex;
  width: 37%;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-align: center;
}

.signin-newaccount-container {
  width: 85%;
}

.signin-newaccount-container h6:hover {
  color: black;
}

/*=======OwnerPlaces=======*/
.PlaceCard {
  width: 700px;
  background-color: #c5c5c440;
  border-radius: 2px;
  text-align: center;
  box-shadow: 1px 3px rgba(8, 8, 8, 0.057);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.PlaceCard:hover {
  transform: scale(0.98);
  font-weight: bold;
}

.ownerButton {
  display: flex;
  flex-direction: column;
  margin: 30px 30px 0px 0px;
}

.ownerButton2 {
  margin-top: 4px;
  width: 150px;
  border: 1px solid rgba(97, 92, 92, 0.372);
}
.ownerButton2:hover {
  transform: scale(0.98);
  font-weight: bold;
}

.OwnerTitle {
  margin: 10px 0px 0px 40px;
  display: flex;
  justify-content: space-between;
}

.OwnerPlaceName {
  margin-left: 150px;
  margin-top: 30px;
}

.AddPlaceButton {
  width: 150px;
  border: none;
  border-radius: 3px;
  margin-top: 40px;
  text-align: center;
  background-color: rgba(97, 92, 92, 0.372);
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 10px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.time-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 10px;
}

.time-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
